html {
  width:100%;
  height:100%;
  overflow:auto;
  font-size: 12pt;
}


body { 
	width: 100%;
	height: 100%;
	font-family: 'Calibri', sans-serif;
	background: #092756;
	color: #fff;
	font-size: 1rem;
	text-align:center;
	letter-spacing:1.2px;
    background-image: linear-gradient(to right, rgba(0,50,255,0), rgba(15,150,255,0.75));
}

.flex-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

#dropdownButtonContainer {
    display:flex;
    justify-content:center;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;"
    padding: 0px;
}
.input {
  	font-family: 'Calibri', sans-serif;
    padding: 5px;
    margin: 10px auto;
    text-align: left;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    display:inline-block;
    border: none;
    padding: 10px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #ddddea;
/*    margin: 2px 3px auto; */
    transition: transform 0.5s ease; /* Apply transition to the transform property */
}

.dropdown-content {
    font-size: 0.75rem;
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: -120%;
    right: 0;
}

.dropdown-option {
    display: block;
    padding: 4px 4px;
    text-decoration: none;
    color: #333333;
    background-color: #eeeeff;
    cursor: pointer;
}

.button {
    display: inline-block;
    border: 2px #eef;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
/*    margin: 4px 12px auto; */
    cursor: pointer;
    background-color: #ddddea;
}

.scroll-box {
    color:#000;
    background-color: #eef;
    border: 2px #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 18px;

/*    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.8), rgba(255,255,255,1)); */
    text-align: left;
    overflow: auto;
}

.prediction-text {
    th {
        font-weight: bold;
        text-align: left;
    }
    td {
        text-align: center;
        color: #f00;
    }

    background-color: #eef;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 18px;
    color:#000;
}

.model-reports {
  	font-family: 'Calibri', sans-serif;
    display: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    background-image: linear-gradient(to left, rgba(238, 238, 255,0.85), rgba(238, 238, 255,1));
}

.button:hover, .collapsible:hover, .dropdown-button:hover, .dropdown-option:hover {
    background-color: #ffffff;
}

.collapsible {
    display: inline-block;
    padding: 10px 40px;
/*    margin-left: auto;
    margin-right: auto; */
    cursor: pointer;
    font-size: 1.2rem;
    border: 2px #eef;
    text-align: center;
    outline: none;
    background-color: #ddddea;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.dataframe {
/*	font-size: 18px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #eef;
    color: #000;
    td {
        border: 4px solid #ddd;
        padding: 8px;
    }
    th{
        border: 4px solid #ddd;
        padding: 8px;
        text-align: center;
    }

}

@media only screen and (max-width: 768px) {
  .flex-parent {
    width:90%;
  }
}
